body { background:#000; }
p { margin:0px 0px 5px 0px; font-size:13px; color:#ffc; display:inline; }
a, a:visited, a:active { color:#9E905B; font-weight:bold }
a:hover { color:#beb07B; }
h1 { background:#000 url(../images/logo.png) no-repeat; margin:0 auto; text-indent: -9999px; }
h1 a {  display: block; height: 142px; width:188px;}
h2 { color:#fff; font-size:36px; }
h3 { color:#fff; font-weight:normal }
h1, h3 { margin-bottom:0px; }

#sidebar { position:absolute; top:50px; left:670px; z-index:2; width:180px; padding:20px; height:800px; background:#000; overflow:hidden; } 

#nav { list-style-type:none; margin:0px; padding:0px; position:absolute; left:50px; top:180px;}
#nav a { font-size:18px; font-weight:normal; }
#nav a.selected { color:#fff; }
#nav li { margin-bottom:10px; }

#main { position:absolute; overflow:hidden; top:0px; left:0px; width:100%; height:2000px; }

.main_slides { position:absolute; top:0px; left:0px; width:600px; margin:50px; padding:0px; overflow:hidden; }
.main_slide { position:absolute; width:600px; height:500px; z-index:39; }
.main_slide .inner { padding:20px 20px 0px 20px; margin-bottom:20px; width:560px; height:460px; border-radius:20px; background:rgba(0,0,0,0.5); }

.slideshow { width:500px; height:300px; background:#777; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
.parallax_target { position:absolute; }

.space { position:absolute; width:100%; height:2000px; z-index:1; background:#000 url(../images/bg.jpg) 50% 0 no-repeat;}
.planet { z-index:15; top:0px; left:-150px; width:652px; height:627px; background:transparent url(../images/new_planet2.png) 0 0 no-repeat; }
.planet2 {z-index:15; top:1000px; left:350px; width:1028px; height:648px; background:transparent url(../images/new_planet.png) 0 0 no-repeat}
.asteroids { z-index:5; top:600px; left:450px; width:780px; height:487px; background:transparent url(../images/new_asteroids.png) no-repeat; overflow:hidden; }
.asteroids2 { z-index:5; top:500px; left:0px; width:780px; height:487px; background:transparent url(../images/new_asteroids2.png) no-repeat; overflow:hidden; }
.asteroids img { float:right; }
.stardust { z-index:2; top:250px; left:-100px; width:771px; height:558px; background:transparent url(../images/stardust.png) 0 0 no-repeat; }


/* scroller css */
#scrollbar { width:20px; height:120px; position:absolute; top:180px; left:20px; }
#scrollbar-handle { width:10px; height:10px; border-radius:10px; background:#fff; position:absolute; top:5px; left:5px; z-index:3; }
#scrollbar-track { width:2px; height:105px; position:absolute; top:6px; left:9px; z-index:2; background:#444; }
#scrollbar-track-start, #scrollbar-track-end { width:8px; height:8px; position:absolute; border-radius:8px; position:absolute; top:6px; left:6px; z-index:2; background:#444; }
#scrollbar-track-end { top:103px; }
