body { background:#000; }
p { margin:0px 0px 5px 0px; font-size:13px; color:#ffc; display:inline; }
a, a:visited, a:active { color:#9E905B; font-weight:bold }
a:hover { color:#beb07B; }
h1 { font-size:40px; color:#fff; margin-top:0px; }
h2 { color:#fff; font-size:36px; }
h3 { color:#fff; font-weight:normal }
h1, h3 { margin-bottom:0px; }

#sidebar { position:absolute; top:50px; left:670px; z-index:2; width:180px; padding:20px; height:200px; background:#000; overflow:hidden; } 

#nav { list-style-type:none; margin:0px; padding:0px; position:absolute; left:50px; top:70px;}
#nav a { font-size:18px; font-weight:normal; }
#nav li { margin-bottom:10px; }

#main { position:absolute; overflow:hidden; top:0px; left:0px; width:100%; height:2000px; }

.main_slides { position:absolute; top:0px; left:0px; width:600px; margin:50px; padding:0px; overflow:hidden; }
.main_slide { position:absolute; width:600px; height:500px; z-index:39; }
.main_slide .inner { padding:20px 20px 0px 20px; margin-bottom:20px; width:560px; height:460px; border-radius:20px; background:rgba(0,0,0,0.5); }

.slideshow { width:500px; height:300px; background:#777; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
.parallax_target { position:absolute; }

.space { position:absolute; width:100%; height:2000px; z-index:1; background:#000 url(../images/bg.jpg) no-repeat; opacity:0.5;}
.planet { z-index:15; top:400px; left:0px; width:300px; height:300px; background:transparent url(../images/planet.png) 0 0 no-repeat; }
.asteroid { z-index:20; top:800px; left:350px; width:600px; height:300px; background:transparent url(../images/asteroids.png) no-repeat; overflow:hidden; }
.asteroid img { float:right; }
.satellite { z-index:3; top:1050px; left:600px; width:100px; height:100px; background:#444; }
.planet2 { z-index:5; top:550px; left:750px; width:200px; height:200px; background:transparent url(../images/planet2.png) 0 0 no-repeat; }


/* scroller css */
#scrollbar { width:20px; height:120px; position:absolute; top:75px; left:20px; }
#scrollbar-handle { width:10px; height:10px; border-radius:10px; background:#fff; position:absolute; top:0px; left:5px; z-index:3; }
#scrollbar-track { width:2px; height:100px; position:absolute; top:5%; left:9px; z-index:2; background:#444; }
#scrollbar-track-start, #scrollbar-track-end { width:8px; height:8px; position:absolute; border-radius:8px; position:absolute; top:0px; left:6px; z-index:2; background:#444; }
#scrollbar-track-end { top:99px; }
